@charset "UTF-8";

body
{
    margin: 20px;
}

table
{
    border-collapse: collapse;
}

th
{
    text-align: left;
}

td
{
    border: 1px solid rgba(112, 128, 144, 0.4);
}

thead tr
{
    border: none;
}

.bookmark-name-header
{
    width: 600px;
}

.database-name-header
{
    width: 500px;
}

tr.in-database
{
    background-color: lightblue;
}

tr.multi-count
{
    background-color: lightcoral;
}